body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514e;

}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
    
}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 25px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.a{
    color:#11999e;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
   
}
.middle-container{
   margin: 100px 0;
}
.bottom-container{
  
    padding: 50px 0 20px;
    background-color: #66BFBF;
    margin: 0;
}
.upper{
    width:150px;
    position: absolute;  
    right: 400px;
    top: 50px;
    
}
.lower{
    width:150px;
    position: absolute;
    top: 450px;
    bottom: 250px;
    left:250px;

  
}
.Pro{
    text-decoration: underline;
}
.He{
    font-size: 1.5rem;
   
}
.footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6
}
P{
    line-height: 2;
}
.skill-row{
    width:50%;
    display:inline-block;
    margin:100px auto 100px auto;
    text-align: left;
    
}
.image-1{
    width:35%;
    float: left;
    margin-right: 30px;
}
.image-2{
    width:35%;
    float: right;
    margin-left: 30px;
}


.p1{
    
    width:30%;
    color: #40514E;
    margin:auto;
    padding-bottom: 100px;

}
.top-hr{
    margin-bottom: 100px;

}
hr{
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 8px;
    color:#EAF6F6;
    

    width: 5%;
}

.down{
    margin: 80px auto 40px auto;

    font-size: 40px;
}

.p-down{
    margin: 40px auto 60px;
    width: 33%;
    margin-top: 50px;
 

}


.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
    background-image: -moz-linear-gradient(top, #11cdd4, #119993);
    background-image: -ms-linear-gradient(top, #11cdd4, #119993);
    background-image: -o-linear-gradient(top, #11cdd4, #119993);
    background-image: linear-gradient(to bottom, #11cdd4, #119993);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }